<!DOCTYPE html>
<html>
  <head>
    <title>InSpecIT Inc.</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>

    <!-- Custom fonts for this template -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag "pages" %>
  </head>

  <body id= "page-top">
   

    <% content_for(:navbar) do %>
    <%= render 'layouts/dtrs' %>
    
    <% end %>
    <%= yield %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered" style="margin-top: 80px;">
            <%= form_tag '/dtr' do %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">
                        Account Registration</h5>
                    <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group" id="gName">
                            <span class="input-group-addon"><span class="fa fa-2x fa-user"></span></span>
                            <%= text_field_tag :gName, nil, class: 'form-control'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="lName">
                            <span class="input-group-addon"><span class="fa fa-2x fa-user"></span></span>
                            <%= text_field_tag :lName, nil, class: 'form-control'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="eAdd">
                            <span class="input-group-addon"><span class="fa fa-2x fa-envelope"></span>
                            </span>
                            <%= text_field_tag :email, nil, class: 'form-control'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="pWord">
                            <span class="input-group-addon"><span class="fa fa-2x fa-key"></span></span>
                            <%= password_field_tag :password, nil, class: 'form-control'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="cpWord">
                            <span class="input-group-addon"><span class="fa fa-2x fa-key"></span></span>
                            <%= password_field_tag :cpassword, nil, class: 'form-control'%>
                        </div>
                    </div>
                </div>
                <%= submit_tag 'Submit', class: 'btn btn-lg btn-primary btn-block' %> </form><% end %>
            </div>
        </div>
    </div>
</div>

</div> 



    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/creative.min.js"></script>

    <!--div class="footer_bottom">
        <div class="copy">
            <p>Copyright &copy; 2018</p>
        </div-->
     <!-- Bootstrap core JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
