<!DOCTYPE html>
<html>
  <head>
    <title>InSpecIT Inc.</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>

    <!-- Custom fonts for this template
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag "pages" %>
  </head>
  <body> 
   
<div class="container" style="margin-top :100px;">
  <h1>Daily Time Record</h1>                                        
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Employee's Name
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
	<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Daryl</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Jaezon</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Imman</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ryan</a></li> -->
    </ul>
  </div>
</div>

</body>
</html>
