<!DOCTYPE html>
<html>
  <head>
    <title>News - InSpecIT</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>

    <!-- Custom fonts for this template -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>




    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="assets/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   
  </head>

  <body>

    <% content_for(:navbar) do %>
    <%= render 'layouts/pages' %>
    <% end %>
   
    <%= yield %>
   
<h2 class="text-primary1" style="margin-top:80px;margin-left: 50px;"><strong>LATEST NEWS</strong></h2>
<div id="carouselNews" class="carousel slide " data-ride="carousel" data-interval="false" style="height:500px;margin-top: 20px; ">
    <div class="carousel-inner" role="listbox">
      
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="/assets/portfolio/fullsize/1.jpg" style="height: 500px; width:100%;">
        <div class="carousel-caption text-white">
          <h3><strong>5TH PHILMARINE EXPO 2018</strong></h3>
          <hr class=" text-white my-4">
          <p style="color:#ffffff">Join us, as InSpecIT, Inc. showcase our latest technology and services at the 5th PHILMARINE EXPO 2018 on June 27-29, 2018. Visit us at SMX Convention Center, Manila, Mall of Asia Complex, Pasay City, Philippines along with tons of guests, businessmen, exhibitors and companies alike in this 3-day marine industry based event!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="/assets/portfolio/fullsize/2.jpg"style="height: 500px; width:100%;">
        <div class="carousel-caption text-primary1">
          <h3><strong>NEW STYLE, NEW LOOK, AND BETTER SERVICE</strong></h3>
          <hr class=" text-white my-4">
          <p style="color:#424242">The company has grown significantly through the years. InSpecIT, Inc. has started out back in the year 2008 as an electrical and automation services company catering minor projects throughout the country.  As the years go by, the company expanded exponentially through different industries, fields of expertise and coverage. Nowadays, the company caters major projects from building, marine, industrial, and energy industries ranging from small-scale to large-scale project anywhere and anytime. From a local service provider to a worldwide multi-industry services and supply company!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
      <span class="fa fa-4x fa-angle-double-left text-primary1" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
      <span class="fa fa-4x fa-angle-double-right text-primary1" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>



    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/creative.min.js"></script>
    <!--div class="footer_bottom">
        <div class="copy">
            <p>Copyright &copy; 2018</p>
        </div-->
     <!-- Bootstrap core JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
