<!DOCTYPE html>
<html>
  <head>
    <title>PhilMarine Expo 2018</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>

    <!-- Custom fonts for this template -->
    <!--link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!--link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag "creative" %>
      


  </head>

  <body id= "page-top">
    
     
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      
    <!--a href="#">
      <img src="/assets/icon.png">
    </a-->



      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">INSPECIT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#global">Global Network</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <!--div class="footer_bottom">
        <div class="copy">
            <p>Copyright &copy; 2018</p>
        </div-->
     <!-- Bootstrap core JavaScript -->


   <section id="pages">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-white">
            <h2 class="section-heading">PhilMarine Expo 2018</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6 text-center text-white">
              <img class="img-fluid" src="/assets/portfolio/news/expo.jpg" alt="">
              <hr class="light my-4">
              <p class="text-muted mb-0 text-primary">Join us, as InSpecIT, Inc. showcase our latest technology and services at the 5th PHILMARINE EXPO 2018 on June 27-29, 2018. Visit us at SMX Convention Center, Manila, Mall of Asia Complex, Pasay City, Philippines along with tons of guests, businessmen, exhibitors and companies alike in this 3-day marine industry based event!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
