<!DOCTYPE html>
<html>
  <head>
    <title>Services - InSpecIT</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>

    <!-- Custom fonts for this template -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>




    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="assets/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   
  </head>

  <body>

    <% content_for(:navbar) do %>
    <%= render 'layouts/pages' %>
    <% end %>
   
    <%= yield %>
    <section id="what-we-do" style="overflow: hidden;background-color: #f4f4f4; ">
      <h2 class="section-title mb-2 h1 text-center" style="margin-top:50px; ">What we do</h2>
      <p class="text-center text-muted h5" style="margin-bottom:50px;">Integration Specialist in Instrumentation Technology</p>
    <!--div class="container-fluid">
      <h2 class="section-title mb-2 h1 text-center" style="margin-top:50px; ;">What we do</h2>
      <p class="text-center text-muted h5">Integration Specialist in Instrumentation Technology</p>
      <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 " >
          <div class="card">
            <div class="card-block block-1">
              <h3 class="card-title">Marine Instrumentation, Automation, and Electrical Servicing</h3>
              <p class="card-text">Installation/Integration of PLC and SCADA/HMI systems with your ship's Remote Terminal Units (RTUs) for centralized control and monitoring</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" >
          <div class="card">
            <div class="card-block block-2">
              <h3 class="card-title">Building Management System and Auxiliary Systems Installation</h3>
              <p class="card-text">Providing the best technological system automation and auxiliary systems like CCTV and Building Access Controls, Fire and Security Alarms, HVAC Installation, Structure Cablings, LAN & WAN, IP PBX</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" >
          <div class="card">
            <div class="card-block block-3">
              <h3 class="card-title">PLC, HMI, SCADA Programming Applications</h3>
              <p class="card-text">We do PLC, DCC programming as well as SCADA programming for all types of applications</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-centered">
          <div class="card">
            <div class="card-block block-4">
              <h3 class="card-title">Renewable Energy Solutions - Wind and Solar</h3>
              <p class="card-text">Solar, Power, Wind Power, Biogas, Hydro Power, Geothermal, Thermal Biomass Power using Boiler and Turbine with Centralized Control</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-centered">
          <div class="card">
            <div class="card-block block-6">
              <h3 class="card-title">Electrical Power, Genset, Control Panel Installation and Monitoring</h3>
              <p class="card-text">Electrical works of Industrial Plants, Gensets and Marine Electricals. Offering the complete solution to monitor all aspects of the electrical distribution system</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>  
    <div class = "row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-1 col-centered">
      <a href="#proj" class="btn btn-circle js-scroll-trigger text-test ">
                <i class="fa fa-2x fa-angle-double-down animated "></i>
            </a>
          </div>
        </div-->

        
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div class="card-blocks">
              <div class="card-item panel">
                  <div class="card-head panel-heading text-center " style="margin-top: 20px; margin-bottom: 20px;">Marine Instrumentation, Automation, and Electrical Servicing <br><i class="fa fa-2x fa-ship text-primary1 " style="margin-top: 10px; margin-bottom: 10px;"></i></br><span><i class="fa fa-2x fa-angle-double-down text-primary1"></i></span></div>
                  <div class="card-body panel-body text-center">Installation/Integration of PLC and SCADA/HMI systems with your ship's Remote Terminal Units (RTUs) for centralized control and monitoring</div>
              </div>
              <div class="card-item panel">
                  <div class="card-head panel-heading text-center" style="margin-top: 20px; margin-bottom: 20px;">Building Management System and Auxiliary Systems Installation<br><i class="fa fa-2x fa-building text-primary1 " style="margin-top: 10px; margin-bottom: 10px;"></i></br><span><i class="fa fa-2x fa-angle-double-down text-primary1"></i></span></div>
                  <div class="card-body panel-body text-center">Providing the best technological system automation and auxiliary systems like CCTV and Building Access Controls, Fire and Security Alarms, HVAC Installation, Structure Cablings, LAN & WAN, IP PBX</div>
              </div>
              <div class="card-item panel">
                  <div class="card-head panel-heading text-center" style="margin-top: 20px; margin-bottom: 20px;">PLC, HMI, SCADA Programming Applications<br><i class="fa fa-2x fa-desktop text-primary1 " style="margin-top: 10px; margin-bottom: 10px;"></i></br><span><i class="fa fa-2x fa-angle-double-down text-primary1"></i></span></div>
                  <div class="card-body panel-body text-center">Electrical works of Industrial Plants, Gensets and Marine Electricals. Offering the complete solution to monitor all aspects of the electrical distribution system</div>
              </div>
            </div>
          </div>
        </div>
            <div class="row">
              <div class="col-xs-12 ">
              <div class="card-blocks1">
              <div class="card-item panel col-centered">
                  <div class="card-head panel-heading text-center"style="margin-top: 20px; margin-bottom: 20px;">Renewable Energy Solutions - Wind and Solar<br><i class="fa fa-2x fa-sun text-primary1 " style="margin-top: 10px; margin-bottom: 10px;"></i></br><span><i class="fa fa-2x fa-angle-double-down text-primary1"></i></span></div>
                  <div class="card-body panel-body text-center">Solar, Power, Wind Power, Biogas, Hydro Power, Geothermal, Thermal Biomass Power using Boiler and Turbine with Centralized Control</div>
              </div>
              <div class="card-item panel col-md-12 col-centered">
                  <div class="card-head panel-heading text-center"style="margin-top: 20px; margin-bottom: 20px;">Electrical Power, Genset, Control Panel Installation and Monitoring<br><i class="fa fa-2x fa-bolt text-primary1 " style="margin-top: 10px; margin-bottom: 10px;"></i></br><span><i class="fa fa-2x fa-angle-double-down text-primary1"></i></span></div>
                  <div class="card-body panel-body text-center">Electrical works of Industrial Plants, Gensets and Marine Electricals. Offering the complete solution to monitor all aspects of the electrical distribution system</div>
              </div>
              </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>


  </section>

  <section id="proj" style="background-color: #fc4d4d; overflow: hidden;">
    <div class="container-fluid">
      <h2 class="section-title mb-2 h1 text-white text-center" style="margin-top:20px;">Project Involvements</h2>
    </div>
  </section>

<section id="portfolio" style="background-color: #f4f4f4; overflow: hidden;">
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/bangui.jpg" class="img-responsive " style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;" alt="">
        </a>
        <div class="portfolio-caption text-center" style="margin-bottom: 70px;">
          <h4>NorthWind Power Development Corp.</h4>
          <p class="text-muted">48MW Wind Farm SCADA, Bangui,Ilocos Norte</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/bfar.jpg" class="img-responsive" style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;" alt="">
        </a>
        <div class="portfolio-caption text-center">
          <h4>DA-BFAR MMOV 1 and 2</h4>
          <p class="text-muted">Main Switch Board Fabrication</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/islasol.jpg" class="img-responsive" style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;" alt="">
        </a>
        <div class="portfolio-caption text-center"> 
          <h4>ISLASOL</h4>
          <p class="text-muted">48MW Solar Power Plant, Manapla, Negros Occidental</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/aplace.jpg" class="img-responsive" style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;" alt="">
        </a>
        <div class="portfolio-caption text-center">
          <h4>A-PLACE</h4>
          <p class="text-muted">Building Management System, SM Mall of Asia Complex, Pasay City</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/geec.png" class="img-responsive" style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;" alt="">
        </a>
        <div class="portfolio-caption text-center">
          <h4>GEEC</h4>
          <p class="text-muted">5MVA Biomass Power Plant</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <img src="/assets/portfolio/projects/vietnam.jpg" class="img-responsive" style="height: 200px; width: 250px; display: block; margin-left: auto; margin-right: auto;"alt="">
        </a>
        <div class="portfolio-caption text-center">
          <h4>Vietnam Patrol Ship</h4>
          <p class="text-muted">Vietnam Patrol Ship Engine Control and Monitoring Console</p>
        </div>
      </div>
    </div>
</section>
<section style="background-color: #f4f4f4; margin-bottom: -100px;">
<div class="portfolio-modal modal " id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>NorthWind Power Development Corp.</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/bangui.jpg" style="width:50%;height:50%;"alt="">
            <p>48MW Wind Farm SCADA, Bangui,Ilocos Norte</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="portfolio-modal modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>DA-BFAR MMOV 1 and 2</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/bfar.jpg" style="width:50%;height:50%;"alt="">
            <p>MAIN SWITCH BOARD FABRICATION FOR DA-BFAR 50M MULTI-MISSION OFFSHORE VESSEL 5001 & 5002</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
        <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>ISLASOL</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/islasol.jpg" style="width:50%;height:50%;"alt="">
            <p>48MW Solar Power Plant, Manapla, Negros Occidental</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>A-PLACE.</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/aplace.jpg" style="width:50%;height:50%;"alt="">
            <p>A-PLACE BUILDING MANAGEMENT SYSTEM, SM Mall of Asia Complex, Pasay City</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>GEEC</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/geec.png" style="width:50%;height:50%;"alt="">
            <p>5MVA BIOMASS POWER PLANT (SCADA & RTU INTEGRATION), Poblacion Buluan, Maguindanao</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="portfolio-modal modal" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-right: 0; overflow: hidden;">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" style="margin-right: 0; overflow: hidden;">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Vietnam Patrol Ship Servicing</h2>
            <img class="img-responsive img-centered" src="/assets/portfolio/projects/vietnam.jpg" style="width:50%;height:50%;"alt="">
            <p>Vietnam Patrol Ship Engine Control and Monitoring Console</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
    <!-- Bootstrap core JavaScript -->
    <script src="assets/card.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/creative.min.js"></script>
    <!--div class="footer_bottom">
        <div class="copy">
            <p>Copyright &copy; 2018</p>
        </div-->
     <!-- Bootstrap core JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
